*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.bg-primary{
    background-color: #a594c0 !important;
    background-image: url(../assets/bg-ye.jpg); 
    background-repeat: no-repeat;
    background-position: center;
}

p.redred{
    color: rgb(206, 143, 143);
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    background-image: url(../assets/bg-m.jpg);
    border: 10px solid rgb(248, 177, 177);
    font-family: 'Noto Serif TC', sans-serif;
}

.blueblue{
    color: cornflowerblue;
}
.pinkupinku{
    color: rgba(150, 103, 110, 0.5);
}
.expedu_icon{
    color: rgb(206, 143, 143);
}
.expedu_icon:hover{
    color: #ffffff;
    background-color: rgb(206, 143, 143);
}

body{
    font-family: 'Noto Sans TC', sans-serif;
}