/*字體font-family: 'Noto Serif TC', sans-serif;*/
body{
    font-family: 'Noto Sans TC', sans-serif;
}
.fonthh{
    font-family: 'Noto Serif TC', sans-serif;
    margin: 0%;
}
.fontsize{
    font-size: 20px;
}
.fontsize1{
    font-size: 16PX;
}


/*背景 */
.container-fluid{
    background-color: #fffcfc;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
}
#portfolios{
    background-color: #fffcfc;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-eyes.png");
}
/*第一頁右上圖*/
.photobg{
    background: url(../assets/img/photobg.png) no-repeat top right;
    padding-top: 0px;
}
.tkpt{
    background: url(../assets/img/takept.png) no-repeat bottom right;
    padding-top: 0px;
}


/*左欄背景*/
.bg-primary{
    background-color: #ffefef !important;
    background-image: url(../assets/img/bg-ye.jpg) !important; 
    background-repeat: no-repeat;
    background-position: center;
}


/*左欄的字 110, 12, 12, 0.352*/
/*.navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 0.6);
    --bs-navbar-hover-color: rgba(189, 56, 56, 0.347);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: rgba(104, 12, 12, 0.418);
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.6);
}*/
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover{
    font-size: 125%;
    color: rgba(189, 56, 56, 0.347);
}
.nav-link:active{
    color: rgba(104, 12, 12, 0.418);
}
.nav-item{
    line-height: 1.25;
}
.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
    color: rgba(104, 12, 12, 0.418);
}


/*邊界*/
section.resume-section{
    padding-top: 60px;
    padding-bottom: 60px;
}


/*link顏色 #d9aab5*/
.link{
    color: #d9aab5;
}
.link:hover{
    color: #d9bdd8 !important;
}
.social-icons .social-icon {
    background-color: #495057;
    color: #ffffff;
}
.social-icons .social-icon:hover {
    background-color: #e4a6b4;
}
a {
    color: #d07e7e;
    text-decoration: underline;
}


/*第一頁的框框*/
.overflowtest{
    padding: 30px 40px;
    padding-bottom: 20px;
    background-color: #79323229;
    border-radius: 30px;
    font-family: 'Noto Serif TC', sans-serif;
}
.flow{
    color: #470303;
    padding: 10px 20px;
    width: 90%;
    background-color: #cc787829;
    border-radius: 10px;
    font-family: 'Noto Serif TC', sans-serif;
}
.abme {
    text-decoration: none;
    color: #9a4848;
    line-height: 3em;
    text-align: center;
    display: block;
}
.abme span{
    margin-left: -100px;
}
.abme:hover span{
    color: #fffcfc;
    background:#9a4848;
    padding: 5px;
    padding-bottom: 7px;
    border-radius: 15px;
}


  /*教育過程的框框*/
.box{
    width: 130%;
    color: rgb(81, 81, 81);
}
.box1{
    width: 124%;
    color: rgb(81, 81, 81);
}
/*.box1{
    color: rgb(81, 81, 81);
    margin-right:18px;
}*/


/*社團經驗清單*/
.listhh {
    color: #2A3D48;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
}
.w-85 {
    width: 85% ;
}
.break {
    display: block;
    margin-bottom: 0.5em;
}
.textright {
    float:right;
}


/*作品集*/
.carousel {
    width:75%;
    margin: 0 auto;
}
.w100{
    width: 40%
}
.carousel-item img{
    margin:0 auto;
    width: 90%;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ccc'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }
  
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ccc'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


/*粉紅字*/
.text-primary {
    --bs-text-opacity: 1;
    color: #d9aab5 !important;
  }

/*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}*/




/*照片作品*/
.col {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}


.gg li:hover{
    color: rgb(223, 148, 148) !important;
}


p.redred{
    color: rgb(206, 143, 143);
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    background-image: url(../assets/bg-m.jpg);
    border: 10px solid rgb(248, 177, 177);
    font-family: 'Noto Serif TC', sans-serif;
}

.blackblack{
    color: rgb(81, 81, 81);
}
.blueblue{
    color: cornflowerblue;
}
.pinkupinku{
    color: rgb(204, 120, 120);
}
.ppink{
    color: #c4aab0;
}


.expedu_icon{
    color: rgb(206, 143, 143);
}
.expedu_icon:hover{
    color: #ffffff;
    background-color: rgb(206, 143, 143);
}


table.yytable{
    width: 70%;
    border-collapse: separate;
}
table.yytable th{
    text-align: center;
    background-color: #b0a2c5;
    color: #ffffff;
    border: 2px solid rgb(237, 155, 100);
}
table.yytable td{
    text-align: center;
    border: 2px solid cornflowerblue;
}
table.yytable tr:nth-child(even){
    background-color: blanchedalmond;
    color: #000;
}
table.yytable tr:nth-child(odd){
    background-color: darksalmon;
    color: #000;
}
